<div>
    <h1>Loggeate</h1>
    <form id="loginForm">
        <label>Email</label>
        <input type="email" name="email">
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <a href="register">No eres usuario? Registrate</a>
</div>

<script src="js/login.js"></script>