<div>
    <h1>Registrate</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input type="text" name="name">
        <label>Email</label>
        <input type="email" name="email">
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>

<script src="js/register.js"></script>